.navbar{
    background-color: #0064af;
    height: 95px;
}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.barraTarefa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #0064af;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLupa{
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 15px;
    margin-left: -45px;
}

.logoEconomiza{
    width: 40px;
    height: 40px;
}

.textoLogo{
    color: white;
    font-size: 16px;
    margin: 2px;
}

.pesquisa{
    width: 530px;
    height: 35px;
    color: #6C7B8B;
    border: solid 2px white;
    border-radius: 5px;
    margin: 10px;
}

.botaoAjuda{
    width: 180px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #d22538; 
    margin: 15px;
}

.dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d22538;
    margin: 15px;
    border-radius: 5px;
}

#dropdownMenuButton1{
    background-color: #d22538;
    border-radius: 5px;
}

#dropdownMenu{
    background-color: #d22538;
    border-radius: 5px;
}

.ofertasBotao{
    border: none;
    background-color: #d22538;
}

.carousel-item{
    display: flex;
    justify-content: center;
    align-items: center;
}


#imgCarrosel{
    width: 200px;
    height: 400px;
}

#carouselExampleFade{
    margin-top: 30px;
}

.textoFooter{
    color: white;
}

.textoCopy{
    color: white;
}

.logoFooter{
    width: 50px;
    height: 30px;
}


footer{
    background-color: #0064af;
    margin-top: 100px;
}

.divOfertas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
   
}

.campoOferta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 550px;
    background-color: white;
    border-radius: 5px;
    margin: 5px;
}

.headerOferta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.mainOferta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgMercado{
    margin-right: 50px;
    width: 130px;
    height: 80px;
    border-radius: 5px;
}

.imgOferta{
    margin: 10px;
    border-radius: 5px;
    width: 350px;
    height: 300px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.imgOferta:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.precoOferta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 180px;
    height: 70px;
    border: solid 1px black;
    border-radius: 5px;
}

.textoDescricao{
    color: #0064af;
    text-align: center;
}

.textoPrecoAntigo{
    color: grey;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textoPreco{
    color: #d22538;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.descricaoOferta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 60px;
    border: solid 2px grey;
    border-radius: 5px;
}

.botaoOferta{
    width: 150px;
    height: 30px;
    background-color: #d22538;
    color: #f5f2ee;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.botaoOferta:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.marcas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.divMarcas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.quadroMarca{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    background-color: #0064af;
    border: solid 1px white;
    margin: 5px;
}

.textoPatrocinadores{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logoMarca{
    width: 150px;
    height: 100px;
    border-radius: 5px;
}

.campoDescricao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
}

.dataOferta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 250px;
    height: 50px;
    margin: 10px;
}

.relogio{
    display: flex;
    justify-content: center;
    align-items: center;
    width:70px;
    height:50px;
    background-color: #d22538;
}

.imgRelogio{
    width:40px;
    height:40px ;
}

.data{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    border: solid 2px #d22538;
}

.categoria{
    color: #f5f2ee;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

.categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.campoCategoria{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
    width: 150px;
    height: 40px;
    background-color: #d22538;
}

.divisaoCategoria{
    width: 200px;
    height: 2px;
    background-color:#d22538;
}

.quadradoCategoria{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: #d22538;
}

.linhaCategoria{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.ofertas{
    display: flex;
    flex-wrap: wrap;
}

.ofertaEspecial{
    width: 50px;
    height: 50px;
}

#imgCarrosel{
    width: 950px;
    height: 400px;
    border-radius: 5px;
}

#imgCarrosel2{
    width: 950px;
    height: 400px;
    border-radius: 5px;
}

#imgCarrosel3{
    width: 950px;
    height: 400px;
    border-radius: 5px;
}




  








