<div class="divPrincipal">
  <div class="barraTarefa">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Configurações
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" (click)="mercados()">Mercados</a></li>
        <li><a class="dropdown-item" (click)="sobre()">Sobre-Economiza</a></li>
        <li><a class="dropdown-item" (click)="deslogar()">Deslogar</a></li>
      </ul>
    </div>
  </div>
  
  <div class="alerta">
    <div id="alertaHome" class="alert alert-warning alert-dismissible fade show" role="alert">
      <button class="ofertasBotao" (click)="ofertas()">Clique aqui para ver as melhores ofertas!</button>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button>
    </div>
  </div>

 
  


 

  


