main{
    width: 100%;
    height: 100%;
}

.campoTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quadroAzul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8px;
    background-color: #0064af;
    height: 126px;
    width: 586px;
    border: solid 1px black;
    border-radius: 10px;
}

.titulo{
    color: #f5f2ee;
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.economiza{
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 700px;
    height: 544px;
    border: solid 2px black;
    border-radius: 10px;
    background-color: #f5f2ee;
}

.valores{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 25px;
}

.textoValores{
    color:#0064af;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.caixa1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 53px;
    background-color: #d22538;
    border-radius: 10px;
    margin: 8px;
}

.caixa2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 308px;
    height: 67px;
    background-color: #d22538;
    border-radius: 10px;
    margin: 8px;
}

.caixa3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 399px;
    height: 82px;
    background-color: #d22538;
    border-radius: 10px;
    margin: 8px;
}

.textoCaixa{
    color: #f5f2ee;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.campoDuvida{
    width: 500px;
    height: 200px;
    border: solid 2px black;
    border-radius: 10px;
    margin-top: 35px;
    background-color: #f5f2ee;
}

.campoDuvida{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textoAjuda{
    color: #0064af;
    font-size: 20px;
    margin: 1px;
}

.botaoAjuda{
    color: #f5f2ee;
    background-color: #2ac196;
    border: none;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    height: 40px;
}

.teste{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linhaEscritorio{
    width: 81vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.escritorio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 60px;
    border: solid 2px black;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #d22538;
}

.textoEscritorio{
    color: #f5f2ee;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.imagensEscritorio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 96vw;
}

.img1{
    width: 700px;
    height: 500px;
    border-radius: 5px;
    margin: 20px;
}

.img2{
    width: 500px;
    height: 350px;
    border-radius: 5px;
}

.footer{
    margin-top: 50px;
    width: 100%;   
    height: 280px;
    background-color: #0064af;
}

.footer2{
    display: flex;
    flex-direction: row;
}

.tema{
    color: #f5f2ee;
    font-size: 23px;
    margin: 100px;
}

.divisor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha{
    width: 95vw;
    border: solid 1px #f5f2ee;
    margin-top: 15px;
}

.institucional{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 80px;
}

.politicas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 185px;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 215px;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 130px;
}

.tema2{
    color: #f5f2ee;
    font-size: 18px;
    margin: 5px;
}

.imgFooter{
    margin: 10px;
    width: 150px;
    height: 45px;
}

.logos{
    width: 80px;
    height: 60px;
    margin: 5px;
}

.linha2{
    width: 85vw;
    border: solid 1px #f5f2ee;
    margin-top: 30px;
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoCopy{
    color: #f5f2ee;
    font-size: 16px;
    margin-top: 15px;
}

.textoSobre{
    padding: 10px;
    font-size: 18px;
}

