<div class="divNavBar">
  <div class="barraTarefa">
    <div class="logo">
      <img (click)="home()" class="logoEconomiza" src="https://cdn-icons-png.flaticon.com/512/584/584093.png" alt="">
    </div>
    <div class="barraPesquisa">
      <input [(ngModel)]="barraPesquisa" type="text" class="pesquisa" placeholder="Pesquise por categorias: ">
      <img (click)="filtroPromocao()" class="imgLupa" src="https://cdn.pixabay.com/photo/2017/01/13/01/22/magnifying-glass-1976105_960_720.png"
        alt="">
    </div>
    <div class="ajuda">
      <button (click)="contato()" class="botaoAjuda">Precisa de Ajuda?</button>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Opções Administrador
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" (click)="cadastrarMercados()">Cadastrar Mercado</a></li>
        <li><a class="dropdown-item" (click)="cadastrarPromocao()">Cadastrar Promoção</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
        Bem vindo, {{nome}}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
        <li><a class="dropdown-item" (click)="mercados()">Mercados</a></li>
        <li><a class="dropdown-item" (click)="sobre()">Sobre-Economiza</a></li>
        <li><a class="dropdown-item" (click)="contato()">Entre em Contato</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" (click)="deslogar()">Deslogar</a></li>
      </ul>
    </div>
  </div>

  <div class="divMercados1">
    <div class="divMercados">
      <div *ngFor='let mercado of listaMercados'>
        {{mercado.NOME_MERCADO}}
        {{mercado.CNPJ}}
        <img src="{{mercado.IMAGEM_MERCADO}}" alt="">
        {{mercado.BAIRRO}}
        {{mercado.RUA}}
        {{mercado.NUMERO}}
      </div>
    </div>
  </div>
