.navbar{
    background-color: #0064af;
    height: 95px;
}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoFooter{
    color: white;
}

.textoCopy{
    color: white;
}

.logoFooter{
    width: 50px;
    height: 30px;
}

footer{
    background-color: #0064af;
}

.barraTarefa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #0064af;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLupa{
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 15px;
    margin-left: -45px;
}

.logoEconomiza{
    width: 40px;
    height: 40px;
}

.textoLogo{
    color: white;
    font-size: 16px;
    margin: 2px;
}

.pesquisa{
    width: 530px;
    height: 35px;
    color: #6C7B8B;
    border: solid 2px white;
    border-radius: 5px;
    margin: 10px;
}

.botaoAjuda{
    width: 180px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #d22538; 
    margin: 15px;
}

.dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d22538;
    margin: 15px;
    border-radius: 5px;
}

#dropdownMenuButton1{
    background-color: #d22538;
    border-radius: 5px;
}

.ofertasBotao{
    border: none;
    background-color: #d22538;
    border-radius: 5px;
}

.classe{
    display: flex;
}

#dropdownMenu{
    background-color: #d22538;
}

.divMercados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98vw;
}

.campoMercado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 450px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    margin: 5px;
}

.headerMercado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.nomeMercado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 50px;
    background-color: #d22538;
    border-radius: 5px;
}

.textoMercado{
    color: #f5f2ee;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.textoInfo{
    font-size: 18px;
}

.linhaMercados{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.mercadosCadastrados{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d22538;
    width: 400px;
    height: 80px;
    border-radius: 5px;
    border: solid 1px black;
}

.textoMercados{
    color: #f5f2ee;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.imgMercado{
    width: 150px;
    height: 130px;
}

.infoMercado{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px;
}

.footerMercado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.contatosMercado{
    width: 250px;
    height: 40px;
    background-color: #d22538;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.tituloContato{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f5f2ee;
}

.campoContatos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 80px;
    border-radius: 5px;
    margin: 10px;
    background-color: #0064af;
}

.textoContatos{
    color: #f5f2ee;
    font-size: 18px;
}

