.botaoVoltar{
   width: 100px;
   margin: 5px;
   background-color: #87cefa;
   border: none;
   border-radius: 5px;
}

.divPrincipal{
    display: flex;
    justify-content: center;
    align-items:center;
   
}

.caixaContato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 650px;
    height: 650px;
    background-color: #87cefa;
}

.inputContato{
    width: 400px;
    height: 30px;
}

.inputProblema{
    height: 250px;
    width: 480px;
}

.botaoContato{
    width: 150px;
    border: solid white 1px;
    background-color: transparent;
    border-radius: 5px;
}

.caixinhas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 260px;
    margin-top: -200px;
    margin: 10px;
    background-color: white;
}

.endereco{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.telefone{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.email{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.iconeCaixinha{
    width: 90px;
    height: 90px;
}

