
.divPrincipal{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    width: 100vw;
}

.caixaContato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
    background-color: #0064af;
    border-radius: 10px;
}

.tituloContato{
    font-size: 56px;
    color: #f5f2ee;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.tituloCx{
    color: #0064af;
}

.inputContato{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px black;
    margin: 5px;
}

.inputProblema{
    height: 200px;
    width: 450px;
    border: solid 1px black;
    border-radius: 10px;
    margin: 5px;
}

.botaoContato{
    width: 150px;
    border: solid white 1px;
    background-color: #2ac196;
    color: #f5f2ee;
    border-radius: 5px;
    margin: 5px;
}

.botaoVoltar{
    width: 150px;
    border: solid 1px white;
    color: #f5f2ee;
    border-radius: 5px;
    background-color: #d22538;
    margin: 5px;
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.caixinhas{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #0064af;
    border-radius: 10px;
    width: 300px;
    height: 260px;
    margin: 10px;
    background-color: white;
}

.endereco{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.telefone{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.email{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.iconeCaixinha{
    width: 90px;
    height: 90px;
}

