<div class="divPrincipal">


  <div class="caixasContato">
    <div class="caixinhas">
      <h2>Nosso Escritório!</h2>
    </div>

    <div class="caixinhas">
      <h2>Nosso Escritório!</h2>
    </div>
  </div>

  <div class="caixasContato2">
    <div class="caixinhas">
      <h2>Nosso Escritório!</h2>
    </div>

    <div class="caixinhas">
      <h2>Nosso Escritório!</h2>
    </div>
  </div>

  <div class="caixaContato">
    <h1>
      Entre em contato
    </h1>
    <h1>
      conosco!
    </h1>
    <br>
    <input type="text" placeholder="Informe seu nome" class="inputContato">
    <br>
    <input type="text" placeholder="Informe seu email" class="inputContato">
    <br>
    <textarea name="text" rows="14" cols="20" wrap="soft" maxlength="500" class="inputProblema"
      placeholder="Informe seu problema ou dúvida!"></textarea>
    <br>
    <button class="botaoContato">Enviar</button>

  </div>

</div>