<div class="caixaPrincipal">
  
  <div class="caixaBemVindo">
    <span>Bem vindo bla bla</span>

    <button (click)="logarUser()" class="botaoUser">Entrar como Usuário</button>

  </div>

  <div class="caixaLogin">
    <span class="tituloCaixaLogin">Login</span>
    <span>Nome: </span>
    <br>
    <input [(ngModel)]="user" class="inputNome">
  

  <div class="loginSenha">
    <span>Senha: </span>
    <br>
    <input [(ngModel)]="password" type="password" class="inputSenha">
  </div>

  <button (click)="logar()" class="botaoEntrar">Entrar como Administrador</button>

  <button (click)="criarConta()" class="botaoCriar">Fazer cadastro</button>

</div>
