
.barraTarefa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #0064af;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLupa{
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 15px;
    margin-left: -45px;
}

.logoEconomiza{
    width: 40px;
    height: 40px;
}

.textoLogo{
    color: white;
    font-size: 16px;
    margin: 2px;
}

.pesquisa{
    width: 530px;
    height: 35px;
    color: #6C7B8B;
    border: solid 2px white;
    border-radius: 5px;
    margin: 10px;
}

.botaoAjuda{
    width: 180px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #d22538; 
    margin: 15px;
}

.dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d22538;
    margin: 15px;
}

#dropdownMenuButton1{
    background-color: #d22538;
}

.ofertasBotao{
    border: none;
    background-color: #d22538;
}

.classe{
    display: flex;
}

#dropdownMenu{
    background-color: #d22538;
}


.inputCadastro{
    width: 450px;
    height: 50px;
    margin: 5px;
}

.inputComplemento{
    width: 450px;
    height: 200px;
}

.inputCidade{
    margin-top: -10px;
    width: 450px;
    height: 50px;
}

.inputProblema{
    width: 450px;
    height: 150px;
    margin: 5px;
}

.inputEstado{
    width: 180px;
    height: 50px;
}

.inputNumero{
    width: 180px;
    height: 50px;
}

.mercado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 90px;
    border: solid 2px black ;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #d22538;
}

.textoMercado{
    color: #f5f2ee;
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.divisao{
    width: 0px;
    height: 50px;
    border: solid 2px #d22538;
    margin: 45px;
}

.parte1{
    margin: 5px;
}

.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.teste{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cadastro2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cadastro3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botoes{
    display: flex;
    flex-direction: row;
}

.quadroLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    border: solid 2px black;
    border-radius: 10px;
    background-color: #0064af;
    margin: 10px;
}

input[type="file"]{
    display: none;
}

label{
    color: white;
    background-color: #0064af;
}

.botaoCancelar{
    margin: 5px;
}

.botaoConfirmar{
    margin: 5px;
}

.footer{
    width: 100%;   
    height: 280px;
    background-color: #0064af;
}

.footer2{
    display: flex;
    flex-direction: row;
}

.tema{
    color: #f5f2ee;
    font-size: 23px;
    margin: 100px;
}

.divisor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha{
    width: 95vw;
    border: solid 1px #f5f2ee;
    margin-top: 15px;
}

.institucional{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 80px;
}

.politicas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 185px;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 215px;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 130px;
}

.tema2{
    color: #f5f2ee;
    font-size: 18px;
    margin: 5px;
}

.imgFooter{
    margin: 10px;
    width: 150px;
    height: 45px;
}

.logos{
    width: 80px;
    height: 60px;
    margin: 5px;
}

.linha2{
    width: 85vw;
    border: solid 1px #f5f2ee;
    margin-top: 30px;
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoCopy{
    color: #f5f2ee;
    font-size: 16px;
    margin-top: 15px;
}

