.divNavBar{
    width: 100vw;
    height: 98vh;
}

.barraTarefa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: #0064af;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLupa{
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 15px;
    margin-left: -45px;
}

.logoEconomiza{
    width: 40px;
    height: 40px;
}

.textoLogo{
    color: white;
    font-size: 16px;
    margin: 2px;
}

.pesquisa{
    width: 530px;
    height: 35px;
    color: #6C7B8B;
    border: solid 2px white;
    border-radius: 5px;
    margin: 10px;
}

.botaoAjuda{
    width: 180px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #d22538; 
    margin: 15px;
}

.dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d22538;
    margin: 15px;
}

#dropdownMenuButton1{
    background-color: #d22538;
}

.ofertasBotao{
    border: none;
    background-color: #d22538;
}

.classe{
    display: flex;
}

#dropdownMenu{
    background-color: #d22538;
}

.divPrincipal{
   width: 100vw;
   height: 86vh;
   margin-top: 30px;
}

.inputDados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputCadastro{
    width: 450px;
    height: 50px;
    margin: 5px;
}

.inputProblema{
    width: 450px;
    height: 150px;
    margin: 5px;
}

.inputEstado{
    width: 180px;
    height: 50px;
}

.inputNumero{
    width: 180px;
    height: 50px;
}

.mercado{
    width: 400px;
    height: 90px;
    border: solid 2px black ;
    border-radius: 10px;
    background-color: #d22538;
}

.textoMercado{
    color: #f5f2ee;
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.divisao{
    width: 0px;
    height: 50px;
    border: solid 2px #d22538;
    margin: 45px;
}

.parte1{
    margin: 5px;
}

.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.teste{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 490px;
    margin-top: -30px;
}

.cadastro3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 30px;
}