<div class="divNavBar">
  <div class="barraTarefa">
    <div class="logo">
      <img (click)="home()" class="logoEconomiza" src="https://cdn-icons-png.flaticon.com/512/584/584093.png" alt="">
    </div>
    <div class="barraPesquisa">
      <input type="text" class="pesquisa" placeholder="Pesquise por categorias: ">
      <img class="imgLupa" src="https://cdn.pixabay.com/photo/2017/01/13/01/22/magnifying-glass-1976105_960_720.png"
        alt="">
    </div>
    <div class="ajuda">
      <button (click)="contato()" class="botaoAjuda">Precisa de Ajuda?</button>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Opções Administrador
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" (click)="cadastrarMercados()">Cadastrar Mercado</a></li>
        <li><a class="dropdown-item" (click)="cadastrarPromocao()">Cadastrar Promoção</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown"
        aria-expanded="false">
        Bem vindo, {{nome}}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
        <li><a class="dropdown-item" (click)="mercados()">Mercados</a></li>
        <li><a class="dropdown-item" (click)="sobre()">Sobre-Economiza</a></li>
        <li><a class="dropdown-item" (click)="contato()">Entre em Contato</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" (click)="deslogar()">Deslogar</a></li>
      </ul>
    </div>
  </div>

  <div class="divPrincipal">
    <div class="teste">
      <div class="mercado">
        <span class="textoMercado">Cadastrar Mercado</span>
      </div>
    </div>

    <div class="cadastro">
      <div class="cadastro1">
        <div class="cadastro2">
          <input [(ngModel)]="uf_estado" class="inputEstado" type="text" placeholder="UF">
          <div class="divisao"></div>
          <input [(ngModel)]="numero" class="inputNumero" type="text" placeholder="Número">
        </div> 
        <input [(ngModel)]="nome_cidade" class="inputCidade" type="text" placeholder="Cidade">
        <input [(ngModel)]="bairro" class="inputBairro" type="text" placeholder="Bairro">
        <input [(ngModel)]="rua" class="inputRua" type="text" placeholder="Rua">
        <textarea  [(ngModel)]="complemento" name="text" rows="20" cols="30" wrap="soft" maxlength="500" class="inputComplemento"
        placeholder="Complemento">
        </textarea>
        <!-- <input [(ngModel)]="complemento" type="text" class="inputComplemento" placeholder="Complemento"> -->
      </div>
      
      <div class="cadastro3">
        <div class="quadroLogo">
          <label for="arquivo">Logo do Mercado</label>
          <input [(ngModel)]="logo" id="arquivo" type="file" placeholder="Escolha a logo do mercado"
            (change)="mudanca($event.target.files[0])">
        </div>
        <!-- <input [(ngModel)]="logo" type="file" placeholder="Escolha a logo do mercado" (change)="mudanca($event.target.files[0])"> -->
        <input [(ngModel)]="cnpj" class="inputCnpj" type="text" placeholder="CNPJ" >
        <input [(ngModel)]="nome_mercado" class="inputCadastro" type="text" placeholder="Nome institucional">
        <input [(ngModel)]="email"  type="text" class="inputCadastro" placeholder="Email">
        <input [(ngModel)]="telefone" class="inputCadastro" type="text" placeholder="Telefone">
        <div class="botoes">
          <button (click)="cancelarCadastro()" class="botaoCancelar">Cancelar</button>
          <button (click)="cadastrarEndereco()" class="botaoConfirmar">Confirmar Cadastro</button>
        </div>
      </div>
    </div> 

    <div class="footer">
      <span class="tema">
        Institucional
      </span>
      <span class="tema">
        Políticas
      </span>
      <span class="tema">
        Baixe nosso App!
      </span>
      <span class="tema">
        Social
      </span>
      <div class="divisor">
        <div class="linha"></div>
      </div>
      <div class="footer2">
        <div class="institucional">
          <span class="tema2">
            Sobre
          </span>
          <span class="tema2">
            Fale Conosco
          </span>
          <span class="tema2">
            Trabalhe Conosco
          </span>
        </div>
        <div class="politicas">
          <span class="tema2">
            Preços
          </span>
          <span class="tema2">
            Privacidade
          </span>
          <span class="tema2">
            Segurança
          </span>
        </div>
        <div class="app">
          <img class="imgFooter"
            src="https://logodownload.org/wp-content/uploads/2017/04/disponivel-google-play-badge-1.png" alt="">
          <img class="imgFooter"
            src="https://logodownload.org/wp-content/uploads/2017/05/disponivel-na-app-store-botao.png" alt="">
        </div>
        <div class="social">
          <img class="logos" src="https://cdn-icons-png.flaticon.com/512/39/39552.png" alt="">
          <img class="logos" src="https://www.mktvirtual.com.br/wp-content/uploads/2016/12/instagram-logo-preto.png"
            alt="">
          <img class="logos" src="https://cdn-icons-png.flaticon.com/512/59/59439.png" alt="">
        </div>
      </div>
      <div class="divisor">
        <div class="linha2"></div>
      </div>
      <div class="copy">
        <span class="textoCopy">©Copyright 2021 - Economiza-Jaraguá - Todos os direitos reservados Economiza</span>
      </div>
    </div>
  </div>


  <!-- <input [(ngModel)]="uf_estado" class="inputEstado" type="text" placeholder="UF">
  <input [(ngModel)]="numero" class="inputNumero" type="text" placeholder="Número">
  <input [(ngModel)]="nome_cidade" class="inputCadastro" type="text" placeholder="Cidade">
  <input [(ngModel)]="bairro" class="inputCadastro" type="text" placeholder="Bairro">
  <input [(ngModel)]="rua" class="inputCadastro" type="text" placeholder="Rua">
  <input [(ngModel)]="complemento" type="text" class="inputCadastro" placeholder="Complemento">


  <input type="text" class="inputCadastro" placeholder="Logo do mercado">
  <input [(ngModel)]="cnpj" class="inputCadastro" type="text" placeholder="CNPJ" >
  <input [(ngModel)]="nome_mercado" class="inputCadastro" type="text" placeholder="Nome institucional">
  <input [(ngModel)]="telefone" class="inputCadastro" type="text" placeholder="Telefone">
  <button>Cancelar</button>
  <button (click)="cadastrarEndereco()">Confirmar Cadastro</button> -->