.divNavBar{
    width: 98vw;
    height: 100vh;
}

.divPrincipal{
    width: 100vw;
    height: 82vh;
}

.barraTarefa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: #0064af;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLupa{
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 15px;
    margin-left: -45px;
}

.logoEconomiza{
    width: 40px;
    height: 40px;
}

.textoLogo{
    color: white;
    font-size: 16px;
    margin: 2px;
}

.pesquisa{
    width: 530px;
    height: 35px;
    color: #6C7B8B;
    border: solid 2px white;
    border-radius: 5px;
    margin: 10px;
}

.botaoAjuda{
    width: 180px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #d22538; 
    margin: 15px;
}

.dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d22538;
    margin: 15px;
}

#dropdownMenuButton1{
    background-color: #d22538;
}

.ofertasBotao{
    border: none;
    background-color: #d22538;
}

.classe{
    display: flex;
}

#dropdownMenu{
    background-color: #d22538;
}

.inputDados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.inputCadastro{
    width: 450px;
    height: 40px;
    margin: 5px;
}

.inputCadastro2{
    width: 240px;
    height: 40px;
    margin: 5px;
}

.form-select1{
    width: 450px;
    height: 40px;
    margin: 5px;
}

.form-select2{
    width: 450px;
    height: 40px;
}

.textoPromocao{
    color: #f5f2ee;
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.promocao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d22538;
    width: 450px;
    height: 80px;
    border-radius: 10px;
}

.botaoCancelar{
    color: #f5f2ee;
    background-color: #d22538;
    border: solid 1px black;
    border-radius: 5px;
}



.botaoCadastro{
    color: #f5f2ee;
    background-color:#2ac196 ;
    border: solid 1px black;
    border-radius: 5px;
}


