.caixaPrincipal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #ecf0f1;
    width: 100vw;
    height: 100vh;
}

.caixaBemVindo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 150px;
    width: 350px;
    height: 380px;
    background-color: #0064af;
    border: 1px solid white;
    border-radius: 5px;
}

.caixaLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 480px;
    height: 530px;
    background-color: #0064af;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 50px;
}

.inputNome{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: solid 0.5px black;
    margin: 10px;
}

.icone{
    position: absolute;
    margin-top: 1.4%;
    margin-left: 19%;
    width: 25px;
    height: 23px;
}

.botaoEntrar{
    background-color: #2ac196;
    color: #f5f2ee;
    border: solid 1px white;
    border-radius: 5px;
    width: 140px;
    height: 30px;
    margin: 10px;
}

.botaoUser{
    border: solid white 0.5px;
    background-color: #2ac196;
    color: #f5f2ee;
    border-radius: 5px;
    width: 140px;
    height: 30px;
    opacity: 0.99;
    margin: 5px;
}

.tituloCaixaBemVindo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: #f5f2ee;
    margin: 5px;
}

.textoCadastro{
    color: #f5f2ee;
    margin: 10px;
}