.navbar{
    background-color: #0064af;
    height: 95px;
}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoFooter{
    color: white;
}

.textoCopy{
    color: white;
}

.logoFooter{
    width: 50px;
    height: 30px;
}

footer{
    background-color: #0064af;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLupa{
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 15px;
    margin-left: -45px;
}

.logoEconomiza{
    width: 40px;
    height: 40px;
}

.textoLogo{
    color: white;
    font-size: 16px;
}

.pesquisa{
    width: 530px;
    height: 35px;
    color: #6C7B8B;
    border: solid 2px white;
    border-radius: 5px;
    margin: 10px;
}

.botaoAjuda{
    width: 180px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #d22538; 
    margin: 15px;
}

.dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d22538;
    margin: 15px;
    border-radius: 5px;
}

#dropdownMenuButton1{
    background-color: #d22538;
    border-radius: 5px;
}

#dropdownMenu{
    background-color: #d22538;
    border-radius: 5px;
}